<div  id="{{ dispositivo }}"class="card {{#ifManual this }} 'border-success mb-3' {{ else }} 'mb-4 box-shadow' {{/ifManual}}">
    <form action="control" method="post">
        <input type="hidden" name="dispositivo" value="{{ dispositivo }}"/>
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ cueRender dispositivo }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ accion }} <small class="text-muted"><br>{{ control }}</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Ha estado {{ accion }} por 01:21 horas</li>
                    <li>Esta configurado en {{ temp_ideal }} ºc &plusmn; {{ tolerancia}}ºc</li>
                        <li>Su temperatura actual es de {{ temperatura }}ºc.</li>
            </ul>
            {{> encender_apagar this }}
        </div>
    </form>
</div>
