{{# each https }}
    <table border="1">
        <tr><td width="50%">request</td><td>response</td></tr>
        <tr>
            <td><b>hora:</b>
                 {{ this.request.hora }}
            </td>
            <td><b>Status Code:</b>{{ this.response.statusCode }}</td>
        </tr>
        <tr>
            <td><b>route-path:</b>
                {{ this.request.route-path }}
            </td>
            <td><b>Status Message:</b>{{ this.response.statusMessage }}</td>
        </tr>
        <tr>
            <td><b>method:</b>
                {{ this.request.request-method }}</td>
            <td rowspan="4" valign="top"><b>Body:</b><hr>{{ this.response.body }}</td>
    </tr>
        <tr>
            <td><b>headers</b><hr>
                {{# each request.headers }}
                    {{ @key }}: {{ this }} <br>
                {{/each}}
            </td>
        </tr>
        <tr>
            <td><b>body:</b><hr>{{{ json this.request.body }}}</td>
        </tr>
    </table>
    <br><br>
{{/each}}

